In [6]:
import requests

fips_url = "https://transition.fcc.gov/oet/info/maps/census/fips/fips.txt"

response = requests.get(fips_url)
fips_codes_raw = response.text

fips_codes = []
for line in fips_codes_raw.splitlines():
    parts = line.split()
    if len(parts) >= 2:
        fips_code = parts[0]
        fips_codes.append(fips_code)

print(f"Retrieved {len(fips_codes)} FIPS codes.")

Retrieved 3262 FIPS codes.

In [7]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

mastercard_si_abbr_values = [721, 56, 621, 71, 444, 448, 61, 443, 52, 445, 722, 442, 447, 452, 446, '62X', '51X', 453, 441, 454, 812, 54, 92, 813, 53, 811, 451, 517] + list(range(48, 50)) + list(range(22, 24)) + list(range(31, 33)) + [42]
mastercard_si_abbr_values = [str(x) if 'X' not in str(x) else str(x).replace('X', str(random.randint(0, 9))) for x in mastercard_si_abbr_values] * 100
card_count_values = [1, 2, 3]

def random_dates(start, end, n):
    start_u = start.value//10**9
    end_u = end.value//10**9
    dates = pd.to_datetime(np.random.randint(start_u, end_u, n), unit='s')
    return [date.date() for date in dates]

n = 1000000
start_date = pd.to_datetime('2019-01-01')
end_date = pd.to_datetime('2024-02-29')

dates = random_dates(start_date, end_date, n)
mastercard_si_abbr = random.choices(mastercard_si_abbr_values, k=n)
card_count = random.choices(card_count_values, k=n)
county_fips = random.choices(fips_codes, k=n)  # Assuming `fips_codes` is defined elsewhere in your code
total_spend = np.round(np.random.uniform(0, 1000, n), 2)

df = pd.DataFrame({
    'date': dates,
    'mastercard_si_abbr': mastercard_si_abbr,
    'county_fips': county_fips,
    'total_spend': total_spend,
    'card_count': card_count
})

# Add the income_quartile column with random values between 1 and 4
df['income_quartile'] = np.random.randint(1, 5, df.shape[0])

df.to_csv('synthetic_dataset.csv', index=False)

print("Dataset generated and saved to synthetic_dataset.csv")

Dataset generated and saved to synthetic_dataset.csv

In [8]:
df = pd.read_csv('synthetic_dataset.csv')

In [9]:
print(df)

              date  mastercard_si_abbr county_fips  total_spend  card_count  \
0       2023-09-17                 447       48315       498.84           3
1       2020-02-29                 813       12089       275.33           1
2       2019-05-29                 517       51167       166.59           1
3       2019-05-02                  23       26075       354.93           3
4       2022-06-26                 443       47053       949.20           2
...            ...                 ...         ...          ...         ...
999995  2021-07-22                 441       39059       839.79           3
999996  2021-09-16                 452       30047       893.25           1
999997  2024-02-11                  42       51097       247.15           2
999998  2023-08-27                  48       29217         9.52           3
999999  2021-03-07                 448       47127       149.13           1

        income_quartile
0                     1
1                     2
2                     2
3                     2
4                     4
...                 ...
999995                2
999996                1
999997                1
999998                3
999999                2

[1000000 rows x 6 columns]